@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #750303;
	--secondary-color: #fa8f44;
	--tertiary-color: #845508;
	--text-color: #172317;
	--bg-color: #fff;
	--creamsmoke: #f3f3f3;
	--hover-color: #f44336;

}

body {
	background: fixed;
	min-height: 100wh;
	background-color: whitesmoke;
}

html {
	overflow-x: hidden;
	background-color: whitesmoke;
}

nav {
	display: flex;
	justify-content: space-between;
	margin-left: 20px;
	margin: auto;
}

.icon {
	text-align: center;
	color: var(--secondary-color);
	padding-left: 20px;
}

.logo {
	margin-top: 20px;
	font-size: 1rem;
	font-weight: 700;
	width: 30;
	height: 10vh;
}

.nav-links {
	margin-top: 20px;
}

.nav-links li {
	display: inline-block;
	list-style: none;
}

.nav-links li a {
	color: var(--secondary-color);
	font-size: 1rem;
	font-weight: 500;
	text-decoration: none;
	padding: 20px;
}

.nav-links .hover::after {
	content:'';
	width: 0%;
	height: 2px;
	background: #f44336;
	display: block;
	margin: auto;
	transition: 0.9s ease-in;
}

.nav-links .hover:hover:after {
	width:  60%;
}

.header-content {
	margin-top: 150px;
	margin-left: 160px;
	width: 50%;
}

.header-title {
	font-size: 2.3rem;
	color: var(--secondary-color);
	text-align: center;
}


header {
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 90vh;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("/static/images/upcoming-events-banner-960x250.jpg");
	background-position: center;
	background-size: cover;
}

/* Main Body Section in which we will design the website */
main {
	width: 90;
	text-align: center;
	margin-top: 30px;
	margin-left: 60px;
}

.container {
	border-radius: 5px;
	background: var(--creamsmoke);
	height: auto;
	width: auto;
	border-style: solid;
	text-align: left;
	text-transform: none;
}




