@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #750303;
	--secondary-color: #fa8f44;
	--tertiary-color: #845508;
	--text-color: #172317;
	--bg-color: #fff;
	--creamsmoke: #f3f3f3;
	--hover-color: #f44336;

}


body {
	background: fixed;
	min-height: 100wh;
	/*background-color:slategray;*/
}


html {
	overflow-x: hidden;
	background-color: whitesmoke;
}

header {
	top: 0;
	left: 0;
	width: 100%;
	height: 80vh;
	background-image: url("/static/images/background.jpg");
	background-position: center;
	background-size: cover;
}

nav {
	display: flex;
	justify-content: space-between;
	margin-left: 20px;
}

.icon {
	text-align: center;
	color: var(--secondary-color);
	padding-left: 20px;
}

.logo {
	margin-top: 20px;
	font-size: 2rem;
	font-weight: 700;
}

.nav-links {
	margin-top: 20px;
}

.nav-links li {
	display: inline-block;
	list-style: none;
}

.nav-links li a {
	color: var(--secondary-color);
	font-size: 1rem;
	font-weight: 500;
	text-decoration: none;
	padding: 20px;
}

.nav-links .hover::after {
	content:'';
	width: 0%;
	height: 2px;
	background: #f44336;
	display: block;
	margin: auto;
	transition: 0.9s ease-in;
}

.nav-links .hover:hover:after {
	width:  60%;
}

.header-content {
	margin-top: 150px;
	margin-left: 160px;
	width: 50%;
}

.header-title {
	font-size: 2.3rem;
	color: var(--secondary-color);
	text-align: center;
}

.slider-box h3 {
	text-align: center;
	padding: 10px;
	font-size: 1.4rem;
	color: var(--secondary-color);
	margin-top: 48px;
}

.slider-box p {
	padding: 10px;
	color: var(--text-color);
	font-size: 0.9rem;
}

.hover::after {
	content: '';
	width: 0%;
	height: 2px;
	background: var(--hover-color);
	display: block;
	margin: auto;
	transition: 0.9s ease-in;
}

.slider {
	box-sizing: border-box;
	animation: slider 30s linear infinite;
}

.slider-box {
	border-radius: 5px;
	background: var(--creamsmoke);
	height: auto;
	width: auto;
}

@keyframes slider {
	0% { margin-top: -800px; }
	5% { margin-top: -400px; }
	30%{ margin-top: 400px;}
	35% {margin-top: 0px;}
	65%{margin-top: 0px;}
	70%{margin-top: 400px;}
	100%{margin-top: .400px;}
}

.hover:hover:after {
	width: 60%;
}

/* Main Body Section in which we will design the website */
main {
	width: 90;
	text-align: center;
	margin-top: 30px;
	margin-left: 60px;
}


.hero-content h2 {
	padding: 20px;
	font-weight: 500;
	font-size: 1.4rem;
	color: var(--secondary-color);
	text-align: center;
}


.hero-content h2 a{
	text-decoration: none;
	padding: 10px;
	font-weight: 500;
	font-size: 1.4rem;
	color: var(--secondary-color);
	text-align: center;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.hero-content p {
	font-size: 1rem;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.hero {
	background: var(--creamsmoke);
	margin-bottom: 10px;
	height: 550px;
}

.hero img {
	width: 440px;
	height: 300px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.col-md-4 h2 {
	font-size: 1.2rem;
	font-weight: 500;
	text-align: center;
	padding: 18px;
}

.col-md-4 p {
	font-size: 1rem;
	color: var(--text-color);
	text-align: left;
	padding-bottom: 20px;
}

.hero-catologue {
	margin-top: 60px;
}

.hero-catologue h3 {
	font-size: 2rem;
	padding: 30px;
	color: var(--secondary-color);
	text-align: center;
}

.hero-box {
	margin-top: 10px;
	width: auto;
	height: auto;
	background: var(--creamsmoke);
}

.hero-box img {
	width: 200px;
	height: 400px;
}

.hero-box h3 {
	color: var(--text-color);
	font-size: 1rem;
	font-weight: 500;
	padding: 20px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

/* Footer style section for index.html */
footer {
	background-image: url("sta");
}