body {
	background: fixed;
	min-height: 100wh;
	background-color:slategray;
	background-image: url("/static/images/background.jpg");
	background-size: cover;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 70px;
	display: flex;
	justify-content: space-between;
	align-items: left;
}

header .logo {
	color: white;
	font-weight: 10;
	text-decoration: none;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

header ul {
	display: flex;
	justify-content:left;
	align-items:center;
}

header ul li {
	list-style:circle;
	margin-left: 10px;
}

header ul li a {
	text-decoration: none;
	padding: 6px 15px;
	color: blue;
	text-decoration: double;
	border-style:ridge;
}
intro {
	top: 5;
	right: 0;
	display:contents;
	position: relative;
	color: white;
}

